[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
fleet_wars = "DiXQ85BSfM9qgPaTv6PAb2GhxRgGhfoarNGyAYJAqdJn"

[programs.devnet]
fleet_wars = "DiXQ85BSfM9qgPaTv6PAb2GhxRgGhfoarNGyAYJAqdJn"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
"test:devnet:er" = "yarn run ts-mocha -p ./tsconfig.json -t 300000 \"tests/fleet-wars.e2e.ts\""
